h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.pregame-container {
  display: flex;
}

.game-container {
  display: none;
}

.score {
    font-size: 1.2rem;
    margin: 1rem;
    align-self: flex-end;
}